.anf-footer {
  background-color: #0b4f8a; /* mismo azul del header */
  color: #ffffff;
  padding: 2.5rem 0;
  font-size: 0.9rem;
}

.anf-footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between; /* ← separación real */
  gap: 20rem;
}

.anf-footer-left {
  max-width: 600px;
  line-height: 1.6;
}

.anf-footer-right {
  text-align: right;
  white-space: nowrap;
  font-weight: 500;
}
@media (max-width: 768px) {
  .anf-footer-inner {
    flex-direction: column;
    gap: 1.5rem;
  }

  .anf-footer-right {
    text-align: left;
  }
}
