<footer class="anf-footer">
  <div class="anf-footer-inner">

    <div class="anf-footer-left">
      <strong>{{ i18n "footer_left_title" }}</strong><br>
      {{ i18n "footer_left_org" }}<br>
      {{ i18n "footer_left_addr" }}<br>
      {{ i18n "footer_left_city" }}<br>
      {{ i18n "footer_left_phone" }}<br>
      {{ i18n "footer_left_rights" }}
    </div>



    <div class="anf-footer-right">
      <img class="anf-footer-mark" src="{{ "img/logo.png" | relURL }}" alt="LANCYTT NanoFab">
     <strong>{{ i18n "footer_right_city" }}</strong><br>
    </div>

  </div>
</footer>

