<footer class="anf-footer">
  <div class="anf-footer__inner">

    <div class="anf-footer__left">
      <div class="anf-footer__text">NanoFab LANCYTT – CIACYT</div>
      <div class="anf-footer__text">
        Coordinación para la Innovación y Aplicación de la Ciencia y la Tecnología<br>
        Av. Sierra Leona No. 550, Lomas 2da Sección<br>
        San Luis Potosí, S. L. P., C. P. 78210<br>
        +52 (444) 826 1450 ext. 8419, 8425<br>
        ©{{ now.Year }} Todos los derechos reservados
      </div>
    </div>

    <div class="anf-footer__right">
      CIACYT–UASLP · LANCYTT San Luis Potosí, México
    </div>

  </div>
</footer>
