<footer class="anf-footer">
  <div class="anf-footer-inner">

    <div class="anf-footer-left">
      <strong>{{ i18n "footer_left_title" }}</strong><br>
      {{ i18n "footer_left_org" }}<br>
      {{ i18n "footer_left_addr" }}<br>
      {{ i18n "footer_left_city" }}<br>
      {{ i18n "footer_left_phone" }}<br>
      {{ i18n "footer_left_rights" }}
    </div>

    <div class="anf-footer-right">
      <strong>{{ i18n "footer_right_title" }}</strong><br>
      {{ i18n "footer_right_city" }}
    </div>

  </div>
</footer>

